.landing_container_bg {

    padding-top:70px;
}
body {
    padding-top:70px;

    background-image: url(images/1.jpg);
}
opacitycss {
    opacitycss: 0.1;
    margin-top:20px;
    margin-bottom:40px;
}
.bgr {
    background:white;
}

