.landing_container_bg {

    padding-top:30px;
    padding-bottom:280px;

}
body {
    padding-top:70px;

    background-image: url(images/1.jpg);
}
opacity {
    opacity: 0.9;
    margin-top:20px;
    margin-bottom:400px;



}
opacity1 {
    
}
